<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:p="http://www.w3.org/1999/html">

<head>
    <title>Simple Demo Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{~/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{~/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>
<div th:replace="menu :: copy"></div>


<div class="container">
    <a href="/all-posts">Go back to post list</a>
    <br/><br/>
    <td th:utext="${post.profession}"></td><br/>
    <td th:utext="${post.title}"></td><br/>
    <td th:utext="${post.company}"></td><br/>
    <td th:utext="${post.description}"></td><br/>
    <td th:utext="${post.contact}"></td><br/>
    <br/><br/>

    <a th:href="@{/upload/{postId}(postId=${post.id})}">Apply</a>

</div>

<script type="text/javascript"
        th:href="@{~/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<div th:replace="footer :: copy"></div>
</body>
</html>