<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{~/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{~/css/main.css}"
          href="../../css/main.css"/>

</head>
<body th:with="active='profile'">
<div th:replace="menu :: copy"></div>

<div class="row">
    <div class="col-sm-6">
        <div class="rounded-div-outer">
            <form action="/users" method="post" th:object="${user}">
                <input type="hidden" name="_method" value="patch" />
                <div class="form-group">
                    <label for="inputFirstName">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" name="firstName"
                           placeholder="Enter first name" th:field="*{firstName}"/>
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last name</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastName"
                           placeholder="Enter last name" th:field="*{lastName}"/>
                </div>
                <div class="form-group">
                    <label for="inputLogin">Login</label>
                    <input type="text" class="form-control" id="inputLogin" name="login"
                           placeholder="Enter login" th:field="*{login}" readonly="true"/>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email"
                           placeholder="Enter email" th:field="*{email}"/>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="info">Additional information</label>
                    <input type="text" class="form-control" id="info" name="description" placeholder="Tell us something about you..." th:field="*{description}"/>
                </div>
                <button type="submit" class="btn btn-primary">Modify data</button>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <h4>Posts for which you applied:</h4>
        <table id="myTableId">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.title}" ></td>
                <td th:text="${post.description}" ></td>
                <td><a th:href="@{/users/{username}/posts/{post-id}(username=${session.username},post-id=${post.id})}">Delete from list</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="rounded-div-outer">
            <h4>Change password form:</h4>
            <form action="" th:action="@{/users/{username}/pwd(username=${session.username})}" th:method="post" method="post">
                <input type="hidden" name="_method" value="patch" />
                <div class="form-group">
                    <label for="oldPwd">Old password</label>
                    <input type="password" class="form-control" id="oldPwd" name="oldPwd"
                           placeholder="Enter old password" required="required"/>
                </div>
                <div class="form-group">
                    <label for="newPwd">New password</label>
                    <input type="password" class="form-control" id="newPwd" name="newPwd"
                           placeholder="Enter new password" required="required" />
                </div>
                <div class="form-group">
                    <label for="newPwd2">Retype new password</label>
                    <input type="password" class="form-control" id="newPwd2" name="newPwd2"
                           placeholder="Retype new password" required="required" />
                </div>
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        </div>
    </div>
</div>




<script type="text/javascript"
        th:href="@{~/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<div th:replace="footer :: copy"></div>
</body>
</html>