<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:p="http://www.w3.org/1999/html">

<head>
    <title>Simple Demo Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{~/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{~/css/main.css}"
          href="../../css/main.css"/>

</head>
<body  th:with="active='recruitment'">
<div th:replace="menu :: copy"></div>


<div class="container">
    <br/><br/>
    <th:block th:each="post : ${posts}">
        <h3><td th:utext="${post.title}"></td></h3><br/>
        <a th:href="@{/recruit-post/{postId}(postId=${post.id})}">More...</a>
        <br/>
        <td class="separator" th:text="--------------------------------------------------------------------------------------------------" ></td>
        <br/>
        <br/>
    </th:block>
    <br/><br/>

</div>
<div class="container">
    <div class="addPost">
    <a href="/add-post">Add post</a>
    </div>
</div>

<script type="text/javascript"
        th:href="@{~/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<div th:replace="footer :: copy"></div>
</body>
</html>