<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Simple Demo Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{~/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{~/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>
<div th:replace="menu :: copy"></div>

<div class="container">
    <a class="btn btn-info" th:href="@{/recruitment/{username}(username=${session.username})}" role="button">Go back to post list</a>
    <br/><br/>
    <td th:utext="${post.profession}"></td>
    <br/>
    <td th:utext="${post.title}"></td>
    <br/>
    <td th:utext="${post.company}"></td>
    <br/>
    <td th:utext="${post.description}"></td>
    <br/>
    <td th:utext="${post.contact}"></td>
    <br/>
    <br/><br/>
    <a class="btn btn-info" th:href="@{/delete-post/{postId}(postId=${post.id})}" role="button">Delete post</a>
    <br/><br/>
    <td class="separator"><h4>--------------------------------------------------------------------------------------------------</h4></td>
</div>
<div class="container">
    <div class="col-sm-6">
        <table id="myTableId">
            <h4>Candidates</h4>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>CV</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.user.firstName}"></td>
                <td th:text="${file.user.lastName}"></td>
                <td th:text="${file.fileName}"></td>
                <td><a class="btn btn-info" th:href="@{/downloadFile/{fileId}(fileId=${file.id})}" role="button">Download</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript"
        th:href="@{~/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<div th:replace="footer :: copy"></div>
</body>
</html>