<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:modelAttribute="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Web recruitment</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

<div class="rounded-div-outer">
    <form action="/users" method="post">
        <div class="form-group">
            <label for="inputFirstName">First name</label>
            <input type="text" class="form-control" id="inputFirstName" name="firstName"
                   placeholder="Enter first name"/>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last name</label>
            <input type="text" class="form-control" id="inputLastName" name="lastName"
                   placeholder="Enter last name"/>
        </div>
        <div class="form-group">
            <label for="inputLogin">Last name</label>
            <input type="text" class="form-control" id="inputLogin" name="login"
                   placeholder="Enter login"/>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email"
                   placeholder="Enter email"/>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <label for="info">Additional information</label>
            <input type="text" class="form-control" id="info" name="description" placeholder="Tell us something about you..."/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="footer"><b>&copy; 2018 ZuzSeb</b></div>

</body>
</html>