<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebRecruitmentHelper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web recruitment</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/profiles/{login}" th:href="@{/profiles/{login}(login=${session.username})}">Profile</a></li>
        </ul>
    </div>
</nav>

<div class="info">
    <h4>
        <span th:text="${infoMessage}"></span>
    </h4>
</div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="footer"><b>&copy; 2018 ZuzSeb</b></div>

</body>
</html>